@media (prefers-color-scheme: dark) {

  html {
    --primary-color-7: #ae3561;
    --primary-color-9: #6e384c;
    --tertiary-color-9: #2b4954;

    background: var(--gray-9);
  }

  body {
    color: var(--gray-1);
  }

  .link::after {
    background-color: var(--primary-color-7);
  }

  .link:hover:after {
    background-color: var(--primary-color-9);
  }

  .emph::after {
    background-color: var(--tertiary-color-9);
  }

  svg.icon {
    stroke: var(--gray-1);
  }


  .dot {
    background: var(--gray-8);
  }

  ::-moz-selection,
  ::selection {
    background: var(--secondary-color-6);
    color: var(--gray-9);
  }

  pre {
    background: #181818;
  }

  /* FOLLOW ME ************************************************************************************/
  @media (min-width: 800px) {
    #follow-me a:hover {
      color: var(--primary-color-3);
    }

    #follow-me a:hover svg {
      stroke: var(--primary-color-3);
    }

    #follow-me a:active {
      color: var(--primary-color);
    }

    #follow-me a:active svg {
      stroke: var(--primary-color);
    }
  }

  /* PORTFOLIO CARDS ******************************************************************************/
  .portfolio-card {
    box-shadow: 5px 10px 25px 0 rgba(0, 0, 0, 1);
  }

  .portfolio-card.secondary {
    background: var(--secondary-color-3);
    color: var(--gray-9);
  }

  .portfolio-card.gray-dark {
    background: var(--gray-8);
    color: var(--gray-1);
  }

  img {
    filter: grayscale(16%);
  }


  /* HLJS *****************************************************************************************/
  .hljs {
    color: var(--gray-1);
  }

  .hljs-comment,
  .hljs-quote {
    color: var(--gray-6);
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: var(--gray-1);
  }

  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: var(--secondary-color-3);
  }

  .hljs-string,
  .hljs-doctag {
    color: var(--gray-7);
  }

  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: var(--primary-color);
  }

  .hljs-type,
  .hljs-class .hljs-title {
    color: var(--primary-color-3);
  }

  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: var(--primary-color);
  }

  .hljs-regexp,
  .hljs-link {
    color: var(--tertiary-color);
  }

  .hljs-symbol,
  .hljs-bullet {
    color: var(--primary-color-3);
  }

  .hljs-built_in,
  .hljs-builtin-name {
    color: var(--gray-6);
  }

  .hljs-meta {
    color: var(--gray-6);
  }

  .hljs-deletion {
    background: #291a17;
  }

  .hljs-addition {
    background: #152422;
  }
}
