@import 'fonts/Basier-Mono/font-face.css';
@import 'fonts/Inter/font-face.css';
@import 'styles/palette.css';
@import 'styles/type-scale.css';

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-weight: normal;
  src: url('/fonts/FiraCode/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-weight: bold;
  src: url('/fonts/FiraCode/FiraCode-Bold.woff2') format('woff2');
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 1rem;
}

h1, h2, h3, h4, h5 {
  margin: .3em 0 .3em;
  line-height: 1.3;
  font-weight: 400;
}

h1 {
  margin-top: .75em;
  font-family: 'Basier Mono Square', monospace;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

/* GENERAL ****************************************************************************************/

body {
  background: var(--bg);
  color: var(--text);
}

html {
  width: 100vw;
  height: 100vh; /* TODO */

  margin: 0;
  padding: 0;

  overflow-x: hidden;
  position: relative;
}

body,
#sapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

@media not screen and (min-width: 1024px) {
  .desktop-only {
    display: none;
  }
}

@media not screen and (min-width: 1366px) {
  .huge-only {
    display: none;
  }
}

main {
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  padding: 0 1.5rem 0 3rem;

  --bg: var(--grey-000);
  background: var(--bg);
}

article.portfolio h1 {
  margin: 2em 0 1em;
}

@media all and (min-width: 768px) {
  article {
    padding: 0 7rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 0 3rem;
    grid-auto-flow: row dense;
  }

  article.portfolio h1 {
    margin: 1.3em 0 .75em;
  }

  article > * {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  article > .text {
    grid-column-end: 3;
  }

  article > .text-alternate {
    grid-column-start: 2;
  }

  article > .pic {
    grid-column-start: 3;
  }

  article > .pic-alternate {
    grid-column-end: 2;
  }

  article.portfolio > p {
    grid-column-end: 3;
  }
}

@media all and (min-width: 1366px) {
  article {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 0 6rem;
  }

  article > * {
    grid-column-start: 2;
    grid-column-end: 6;
  }

  article > h1 {
    grid-column-start: 1;
  }

  article > .text {
    grid-column-end: 4;
  }

  article > .text-alternate {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  article > .pic {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  article > .pic-alternate {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  article.portfolio > p {
    grid-column-end: 4;
  }
}

/* EMPHASIS ***************************************************************************************/

mark {
  background-color: var(--secondary-color-300);
  box-shadow: inset 0 .8em 0 0 var(--bg);
  transition: all ease-in .3s;
}

mark:hover {
  border-radius: 0;
  box-shadow: none;
  background-color: var(--secondary-color-200);
}


/* LINK *******************************************************************************************/

a {
  color: inherit;
  text-decoration: none;
  transition: all ease-out 150ms;
}

p a {
  color: var(--primary-color-600);

  /* Prettier underline, adapted from https://edwardtufte.github.io/tufte-css/ */
  text-shadow: .03em 0 var(--bg), -.03em 0 var(--bg), 0 .03em var(--bg), 0 -.03em var(--bg), .06em 0 var(--bg), -.06em 0 var(--bg), .09em 0 var(--bg), -.09em 0 var(--bg), .12em 0 var(--bg), -.12em 0 var(--bg), .15em 0 var(--bg), -.15em 0 var(--bg);
  background-image: linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--grey-050), var(--grey-050));
  background-position: 0 99%, 100% 99%, 0 99%;
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
}

p a:hover {
  color: var(--primary-color);
  background-image: linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--primary-color), var(--primary-color));
}

p a .icon-inline {
  margin-left: -.1rem;
  margin-right: -.1rem;
}

a.meta {
  color: var(--grey-900);
  margin-right: .1rem;
  font-weight: 600;
  font-size: .75rem;
  text-transform: uppercase;
}

a.meta:hover {
  color: var(--primary-color);
}

a.meta:hover svg.icon {
  stroke: var(--primary-color);
}

a.meta .icon-inline {
  width: .9rem;
  height: .9rem;
}

/* SELECTION & FOCUS ******************************************************************************/

::selection {
  background-color: var(--secondary-color);
  color: var(--grey-950);
  text-shadow: none;
}

:focus-visible {
  box-shadow: 0 0 0 4px var(--secondary-color);
  outline: none;
  transition-delay: .1s;
}

a::selection,
a:focus-visible {
  /* Fixes selection style of links with prettier underline */
  text-shadow: none;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 2%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.appear {
  animation: appear 0.8s ease-in-out both;
}

/* SVG ********************************************************************************************/

svg.icon {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: var(--grey-950);
  stroke-width: 1px;
  stroke-linecap: square;
  stroke-linejoin: round;
}

svg.icon-inline {
  margin-bottom: -.1rem;
}

/* FIGURE *****************************************************************************************/

figure {
  position: relative;
  margin: 0;
}

figcaption {
  position: absolute;
}

figure > img {
  width: 100%;
  max-height: 100%;
}

.figrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media all and (min-width: 768px) {
  figure {
    grid-column: 3 / 4;
  }

  figure:not(.stretch):first-of-type {
    grid-row: 2 / 5;
  }

  figure:not(.stretch):nth-of-type(2) {
    grid-row: 5 / 8;
  }

  figure.grouped {
    margin-top: 3rem;
  }

  figure.pic-alternate.grouped ~ figure.grouped {
    grid-column: 1/2;
  }

  figure.stretch,
  .figrow {
    grid-column: 1 / 3;
  }
}

@media all and (min-width: 1366px) {
  figure {
    grid-column: 4 / 6;
  }

  figure:not(.stretch):first-of-type {
    grid-row: 2 / 5;
  }

  figure:not(.stretch):nth-of-type(2) {
    grid-row: 5 / 8;
  }

  figure.pic-alternate.grouped ~ figure.grouped {
    grid-column: 4 / 6;
  }

  figure.stretch,
  .figrow {
    grid-column: 2 / 5;
  }
}

/* SECTIONS ***************************************************************************************/

section.dotted {
  position: relative;
}

section.dotted::after {
  position: absolute;
  top: 0;
  left: -200%;
  display: block;
  width: 500%;
  height: 100%;

  background-color: transparent;
  background-image: radial-gradient(circle, var(--grey-300) 11%, transparent 10%),
  radial-gradient(circle, var(--grey-300) 11%, transparent 10%);
  background-size: 1rem 1rem;
  background-position: 0 0, 1rem 1rem;

  content: '';
  z-index: -1;
}

section.primary-light {
  background: var(--primary-color-200);
  color: var(--grey-900);
}

section.primary {
  background: var(--primary-color);
  color: var(--grey-900);
}

section.primary-dark {
  background: var(--primary-color-800);
  color: var(--grey-100);
}

section.secondary {
  background: var(--secondary-color);
  color: var(--grey-900);
}

section.tertiary {
  background: var(--tertiary-color);
  color: var(--grey-900);
}

section.gray-light {
  background: var(--grey-200);
  color: var(--grey-900);
}

section.gray-dark {
  background: var(--grey-700);
  color: var(--grey-100);
}


/* CODE *******************************************************************************************/

pre {
  padding: .5rem 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  background: #f6f6f6;
}

code {
  font-size: .75rem;
  line-height: 1.5;
}

@media (min-width: 800px) {
  pre {
    padding: 1rem 1.25rem 1.5rem;
  }
}

/* HLJS *******************************************************************************************/

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: var(--grey-900);
}

.hljs-comment,
.hljs-quote {
  color: var(--grey-500);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--grey-900);
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--tertiary-color-800);
}

.hljs-string,
.hljs-doctag {
  color: var(--grey-700);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--primary-color-600);
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: var(--primary-color-800);
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: var(--primary-color-600);
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: var(--secondary-color-600);
}

.hljs-symbol,
.hljs-bullet {
  color: var(--primary-color-800);
}

.hljs-built_in,
.hljs-builtin-name {
  color: var(--grey-500);
}

.hljs-meta {
  color: var(--grey-500);
  font-weight: bold;
}

.hljs-deletion {
  background: #f1e2df;
}

.hljs-addition {
  background: #ddeceb;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}


body.dark-mode img {
  filter: grayscale(16%);
}

body.dark-mode pre {
  background: #181818;
}

body.dark-mode .hljs-deletion {
  background: #291a17;
}

body.dark-mode .hljs-addition {
  background: #152422;
}
