@import 'fonts/Basier-Mono/font-face.css';
@import 'fonts/Inter/font-face.css';
@import 'styles/palette.css';
@import 'styles/type-scale.css';
@import 'styles/hljs.css';

html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'calt';
  font-size: 1rem;
  line-height: 1.75;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 2em 0 1em;
  font-family: 'Basier Mono Square', monospace;
  line-height: 1.3;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  h1.huge {
    margin: 1.5em 0 .3em;
  }
}

@media all and (min-width: 1366px) {
  h1.huge {
    margin: 1em 0 .3em;
  }
}

h2, h3, h4, h5 {
  margin: .3em 0 .3em;
  line-height: 1.3;
  font-weight: 400;
}

p {
  margin: 0 0 1rem;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

/* GENERAL ****************************************************************************************/

html {
  width: 100vw;
  height: 100vh; /* TODO */

  margin: 0;
  padding: 0;

  overflow-x: hidden;
  position: relative;
}

body,
#sapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
}

main {
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  padding: 0 1.5rem 0 3rem;

  --bg: var(--bg-article);
  background: var(--bg);
}

@media all and (min-width: 768px) {
  article {
    padding: 0 7rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 0 3rem;
    grid-auto-flow: row dense;
  }

  article > * {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  article > .text {
    grid-column-end: 3;
  }

  article > .text-alternate {
    grid-column-start: 2;
  }

  article > .pic {
    grid-column-start: 3;
  }

  article > .pic-alternate {
    grid-column-end: 2;
  }

  article.portfolio > p {
    grid-column-end: 3;
  }
}

@media all and (min-width: 1366px) {
  article {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 0 6rem;
  }

  article > * {
    grid-column-start: 2;
    grid-column-end: 6;
  }

  article > h1 {
    grid-column-start: 1;
  }

  article > .text {
    grid-column-end: 4;
  }

  article > .text-alternate {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  article > .pic {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  article > .pic-alternate {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  article.portfolio > p {
    grid-column-end: 4;
  }
}

/* EMPHASIS ***************************************************************************************/

mark {
  color: var(--text);
  background-color: var(--mark);
  box-shadow: inset 0 .8em 0 0 var(--bg);
  transition: all ease-in .3s;
}

mark:hover {
  border-radius: 0;
  box-shadow: none;
  background-color: var(--secondary-color-200);
}


/* LINK *******************************************************************************************/

a {
  color: inherit;
  text-decoration: none;
  transition: all ease-out 150ms;
}

p a {
  color: var(--primary-color-600);

  /* Prettier underline, adapted from https://edwardtufte.github.io/tufte-css/ */
  text-shadow: .03em 0 var(--bg), -.03em 0 var(--bg), 0 .03em var(--bg), 0 -.03em var(--bg), .06em 0 var(--bg), -.06em 0 var(--bg), .09em 0 var(--bg), -.09em 0 var(--bg), .12em 0 var(--bg), -.12em 0 var(--bg), .15em 0 var(--bg), -.15em 0 var(--bg);
  background-image: linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--line), var(--line));
  background-position: 0 99%, 100% 99%, 0 99%;
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
}

p a:hover {
  color: var(--primary-color);
  background-image: linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--primary-color), var(--primary-color));
}

.portfolio {
  padding-bottom: 9rem;
  position: relative;
}

.portfolio .meta-links {
  position: absolute;
  bottom: 6rem;
  display: flex;
}

.portfolio .meta-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem 1rem;
  border: solid 1px var(--text);
}

.portfolio .meta-links a:not(:last-child) {
  border-right: 0 transparent;
}

.portfolio .meta-links a {
  font-size: var(--font--small);
}

@media all and (min-width: 768px) {
  .portfolio .meta-links a {
    font-size: 1rem;
  }
}

.portfolio .meta-links .icon:first-child:not(:last-child) {
  stroke-width: 2;
  margin-right: .5rem;
}

.portfolio .meta-links .icon:last-child {
  stroke-width: 2;
  margin-left: .5rem;
}

/* SVG ********************************************************************************************/

svg.icon {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: var(--grey-950);
  stroke-width: 1px;
  stroke-linecap: square;
  stroke-linejoin: round;
}

/* FIGURE *****************************************************************************************/

figure {
  margin: 0;
}

figcaption {
  font-family: 'Basier Mono Square', monospace;
  font-size: var(--font--small);
  text-transform: uppercase;
  margin: -.25rem 0 1.25rem;
}

figure > img {
  width: 100%;
  max-height: 100%;
}

.figrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media all and (min-width: 768px) {
  figure {
    grid-column: 3 / 4;
  }

  figure:not(.stretch):first-of-type {
    grid-row: 2 / 5;
  }

  figure:not(.stretch):nth-of-type(2) {
    grid-row: 5 / 8;
  }

  figure.grouped {
    margin-top: 3rem;
  }

  figure.pic-alternate.grouped ~ figure.grouped {
    grid-column: 1/2;
  }

  figure.stretch,
  .figrow {
    grid-column: 1 / 3;
  }
}

@media all and (min-width: 1366px) {
  figure {
    grid-column: 4 / 6;
  }

  figure:not(.stretch):first-of-type {
    grid-row: 2 / 5;
  }

  figure:not(.stretch):nth-of-type(2) {
    grid-row: 5 / 8;
  }

  figure.pic-alternate.grouped ~ figure.grouped {
    grid-column: 4 / 6;
  }

  figure.stretch,
  .figrow {
    grid-column: 2 / 5;
  }
}

/* CODE *******************************************************************************************/

pre {
  padding: .5rem 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  background: #f6f6f6;
}

code {
  font-size: .75rem;
  line-height: 1.5;
}

@media (min-width: 800px) {
  pre {
    padding: 1rem 1.25rem 1.5rem;
  }
}

/* SELECTION & FOCUS ******************************************************************************/

::selection {
  background-color: var(--secondary-color);
  color: var(--text);
  text-shadow: none;
}

:focus-visible {
  box-shadow: 0 0 0 4px var(--secondary-color);
  outline: none;
  transition-delay: .1s;
}

a::selection,
a:focus-visible {
  /* Fixes selection style of links with prettier underline */
  text-shadow: none;
}

/* ANIMATIONS *************************************************************************************/

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 2%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.appear {
  animation: appear 0.8s ease-in-out both;
}
