@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('/fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Lora/Lora-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/Lora/Lora-Italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/Lora/Lora-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-weight: normal;
  src: url('/fonts/FiraCode/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-weight: bold;
  src: url('/fonts/FiraCode/FiraCode-Bold.woff2') format('woff2');
}

html {
  --sans-serif: 'Montserrat', sans-serif;
  --serif: 'Lora', serif;
  --monospace: 'Fira Code', monospace;

  --primary-color-2: #fabad1;
  --primary-color-3: #f68db3;
  --primary-color-4: #f15f94;
  --primary-color: #ee3377;
  --primary-color-6: #ce336c;
  --primary-color-7: #ae3561;
  --primary-color-8: #8e3656;
  --primary-color-9: #6e384c;

  --secondary-color-2: #fcf0cd;
  --secondary-color-3: #fbe39e;
  --secondary-color: #f9c940;
  --secondary-color-6: #cba539;

  --tertiary-color: #33bbee;
  --tertiary-color-6: #309dc6;
  --tertiary-color-8: #2c6479;

  --gray-1: #fefefe;
  --gray-2: #dfdfdf;
  --gray-3: #c2c2c2;
  --gray-4: #a4a4a4;
  --gray-5: #878787;
  --gray-6: #686868;
  --gray-7: #4b4b4b;
  --gray-8: #2d2d2d;
  --gray-9: #111111;

  --secondary-color-2--transparent: #fcf0cd00; /* avoid safari bug */
  --gray-1--90: #fefefedd;

  font-family: var(--serif);
  font-size: 16px;
}

/* GENERAL ****************************************************************************************/

body {
  overflow-x: hidden;

  background: var(--gray-1);
  color: var(--gray-9);
}

html,
body,
#sapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

/* HEADLINES & TEXT *******************************************************************************/

h1 {
  margin: 0 0 1.5rem 0;
  font-family: var(--sans-serif);
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  margin: 1.5rem 0 1rem 4px;
  font-size: 1.05rem;
  font-weight: bold;
  font-style: italic;
}

p {
  margin: 0 0 1.05rem 1rem;
  font-size: 1.05rem;
  line-height: 1.8;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    margin: 0 -1.25rem .5rem 1.25rem;
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  p {
    line-height: 1.62;
  }
}

/* EMPHASIS ***************************************************************************************/

strong {
  font-weight: bold;
  font-style: italic;
}

em {
  font-style: italic;
}

mark {
  position: relative;
  background: transparent;
  color: var(--gray-9);
}

mark::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: -.1rem;
  display: block;
  height: 1.2rem;
  width: calc(100% + .2rem);
  background: var(--secondary-color-3) linear-gradient(to right, var(--secondary-color-2--transparent), var(--secondary-color-2));
  border-radius: 0;
  z-index: -1;
  transition: all ease-in-out .2s;
}

mark:hover::after {
  background: var(--secondary-color-3);
  height: 1.6rem;
  bottom: -.2rem;
}

/* LINK *******************************************************************************************/

a {
  color: inherit;
  text-decoration: none;
  transition: all ease-out 150ms;
}

p a {
  color: var(--primary-color-6);

  /* Prettier underline, adapted from https://edwardtufte.github.io/tufte-css/ */
  text-shadow: .03em 0 var(--gray-1), -.03em 0 var(--gray-1), 0 .03em var(--gray-1), 0 -.03em var(--gray-1), .06em 0 var(--gray-1), -.06em 0 var(--gray-1), .09em 0 var(--gray-1), -.09em 0 var(--gray-1), .12em 0 var(--gray-1), -.12em 0 var(--gray-1), .15em 0 var(--gray-1), -.15em 0 var(--gray-1);
  background-image: linear-gradient(var(--gray-1), var(--gray-1)), linear-gradient(var(--gray-1), var(--gray-1)), linear-gradient(var(--gray-2), var(--gray-2));
  background-position: 0 99%, 100% 99%, 0 99%;
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
}

p a:hover {
  color: var(--primary-color);
  background-image: linear-gradient(var(--gray-1), var(--gray-1)), linear-gradient(var(--gray-1), var(--gray-1)), linear-gradient(var(--primary-color), var(--primary-color));
}

p a .icon-inline {
  margin-left: -.1rem;
  margin-right: -.1rem;
}

a.meta {
  color: var(--gray-9);
  margin-right: .1rem;
  font-family: var(--sans-serif);
  font-weight: 600;
  font-size: .75rem;
  text-transform: uppercase;
}

a.meta:hover {
  color: var(--primary-color);
}

a.meta:hover svg.icon {
  stroke: var(--primary-color);
}

a.meta .icon-inline {
  width: .9rem;
  height: .9rem;
}

/* SELECTION & FOCUS ******************************************************************************/

::selection {
  background-color: var(--secondary-color);
  color: var(--gray-9);
}

:focus-visible {
  box-shadow: 0 0 0 4px var(--secondary-color);
  outline: none;
  transition-delay: .1s;
}

a::selection,
a:focus-visible {
  /* Fixes selection style of links with prettier underline */
  text-shadow: none;
}

/* SVG ********************************************************************************************/

svg.icon {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: var(--gray-9);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg.icon-inline {
  margin-bottom: -.1rem;
}

/* FIGURE *****************************************************************************************/

figure {
  margin: 2rem 0;
  position: relative;
}

figcaption {
  position: absolute;
  left: -.9rem;
  bottom: -.4rem;
  transform: rotate(-90deg);
  transform-origin: top left;

  font-family: var(--sans-serif);
  font-size: .625rem;
  text-transform: uppercase;
}

figcaption > strong {
  font-weight: 800;
  font-style: normal;
}

figure > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 800px) {
  figure.left {
    width: 70%;
    margin-top: 3rem;
  }

  figure.center {
    width: 70%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  figure.right {
    width: 70%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: -40px;
  }

  figure.stretch > img {
    width: 100%;
  }
}

.figrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.figrow figcaption {
  bottom: -.7rem;
}

/* SECTIONS ***************************************************************************************/

section.dotted {
  position: relative;
}

section.dotted::after {
  position: absolute;
  top: 0;
  left: -200%;
  display: block;
  width: 500%;
  height: 100%;

  background-color: transparent;
  background-image: radial-gradient(circle, var(--gray-3) 11%, transparent 10%),
  radial-gradient(circle, var(--gray-3) 11%, transparent 10%);
  background-size: 1rem 1rem;
  background-position: 0 0, 1rem 1rem;

  content: '';
  z-index: -1;
}

section.primary-light {
  background: var(--primary-color-2);
  color: var(--gray-9);
}

section.primary {
  background: var(--primary-color);
  color: var(--gray-9);
}

section.primary-dark {
  background: var(--primary-color-8);
  color: var(--gray-1);
}

section.secondary {
  background: var(--secondary-color);
  color: var(--gray-9);
}

section.tertiary {
  background: var(--tertiary-color);
  color: var(--gray-9);
}

section.gray-light {
  background: var(--gray-2);
  color: var(--gray-9);
}

section.gray-dark {
  background: var(--gray-7);
  color: var(--gray-1);
}


/* CODE *******************************************************************************************/

pre {
  padding: .5rem 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  background: #f6f6f6;
}

code {
  font-family: var(--monospace);
  font-size: .75rem;
  line-height: 1.5;
}

@media (min-width: 800px) {
  pre {
    padding: 1rem 1.25rem 1.5rem;
  }
}

/* HLJS *******************************************************************************************/

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: var(--gray-9);
}

.hljs-comment,
.hljs-quote {
  color: var(--gray-5);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--gray-9);
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--tertiary-color-8);
}

.hljs-string,
.hljs-doctag {
  color: var(--gray-7);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--primary-color-6);
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: var(--primary-color-8);
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: var(--primary-color-6);
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: var(--secondary-color-6);
}

.hljs-symbol,
.hljs-bullet {
  color: var(--primary-color-8);
}

.hljs-built_in,
.hljs-builtin-name {
  color: var(--gray-5);
}

.hljs-meta {
  color: var(--gray-5);
  font-weight: bold;
}

.hljs-deletion {
  background: #f1e2df;
}

.hljs-addition {
  background: #ddeceb;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* DARK MODE **************************************************************************************/

body.dark-mode {
  --primary-color-9: #fabad1;
  --primary-color-8: #f68db3;
  --primary-color-7: #f15f94;
  --primary-color-6: #ee3377;
  --primary-color: #ce336c;
  --primary-color-4: #ae3561;
  --primary-color-3: #8e3656;
  --primary-color-2: #6e384c;

  --tertiary-color-8: #fbe39e;
  --tertiary-color-6: #f9c940;
  --tertiary-color: #cba539;

  --secondary-color-6: #33bbee;
  --secondary-color: #309dc6;
  --secondary-color-3: #2c6479;
  --secondary-color-2: #2b4954;

  --secondary-color-2--transparent: #2b495400;

  --gray-9: #fefefe;
  --gray-8: #dfdfdf;
  --gray-7: #c2c2c2;
  --gray-6: #a4a4a4;
  --gray-5: #878787;
  --gray-4: #686868;
  --gray-3: #4b4b4b;
  --gray-2: #2d2d2d;
  --gray-1: #111111;

  --gray-1--90: #111111dd;
}

body.dark-mode img {
  filter: grayscale(16%);
}

body.dark-mode pre {
  background: #181818;
}

body.dark-mode .hljs-deletion {
  background: #291a17;
}

body.dark-mode .hljs-addition {
  background: #152422;
}
