.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: var(--grey-900);
}

.hljs-comment,
.hljs-quote {
  color: var(--grey-500);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--grey-900);
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--tertiary-color-800);
}

.hljs-string,
.hljs-doctag {
  color: var(--grey-700);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--primary-color-600);
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: var(--primary-color-800);
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: var(--primary-color-600);
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: var(--secondary-color-600);
}

.hljs-symbol,
.hljs-bullet {
  color: var(--primary-color-800);
}

.hljs-built_in,
.hljs-builtin-name {
  color: var(--grey-500);
}

.hljs-meta {
  color: var(--grey-500);
  font-weight: bold;
}

.hljs-deletion {
  background: #f1e2df;
}

.hljs-addition {
  background: #ddeceb;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}


body.dark-mode img {
  filter: grayscale(16%);
}

body.dark-mode pre {
  background: #181818;
}

body.dark-mode .hljs-deletion {
  background: #291a17;
}

body.dark-mode .hljs-addition {
  background: #152422;
}
