/* Augmented Fourth */
.gigantic {
  font-size: 11.302rem;
}

/*
.huge {
  font-size: 5.653rem;
}

.huge {
  font-size: 3.998rem;
}
 */

h1,
.huge {
  font-size: 2.827rem;
}

h2,
.large {
  font-size: 1.999rem;
}

h3 {
  font-size: 1.414rem;
}

small {
  font-size: 0.707rem;
}


@media all and (min-width: 768px) {
  /* Perfect Fifth */
  .gigantic {
    font-size: 17.086rem;
  }

  .huge {
    font-size: 7.594rem;
  }

  h1 {
    font-size: 5.063rem;
  }

  .large {
    font-size: 3.375rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  small {
    font-size: 0.667rem;
  }
}

@media all and (min-width: 1366px) {
  /* Golden Ratio */
  .gigantic {
    font-size: 29.03rem;
  }

  .huge {
    font-size: 11.089rem;
  }

  h1 {
    font-size: 6.854rem;
  }

  .large {
    font-size: 4.236rem;
  }

  h2 {
    font-size: 2.618rem;
  }

  h3 {
    font-size: 1.618rem;
  }

  small {
    font-size: 0.618rem;
  }
}
