:root {
  /* Augmented Fourth */
  --font--gigantic: 11.302rem;
  /* unused:
  5.653rem
  3.998rem
   */
  --font--huge: 2.827rem;
  --font--h1: 2.827rem;
  --font--large: 1.999rem;
  --font--h2: 1.999rem;
  --font--h3: 1.414rem;
  --font--small: 0.707rem;
}

@media all and (min-width: 768px) {
  :root {
    /* Perfect Fifth */
    --font--gigantic: 17.086rem;
    --font--huge: 7.594rem;
    --font--h1: 5.063rem;
    --font--large: 3.375rem;
    --font--h2: 2.25rem;
    --font--h3: 1.5rem;
    --font--small: 0.667rem;
  }
}

@media all and (min-width: 1366px) {
  /* Golden Ratio */
  :root {
    --font--gigantic: 29.03rem;
    --font--huge: 11.089rem;
    --font--h1: 6.854rem;
    --font--large: 4.236rem;
    --font--h2: 2.618rem;
    --font--h3: 1.618rem;
    --font--small: 0.618rem;
  }
}

.gigantic {
  font-size: var(--font--gigantic);
}

.huge {
  font-size: var(--font--huge);
}

h1 {
  font-size: var(--font--h1);
}

.large {
  font-size: var(--font--large);
}

h2 {
  font-size: var(--font--h2);
}

h3 {
  font-size: var(--font--h3);
}

small {
  font-size: var(--font--small);
}
